{{#allParams}}
    {{paramName}}{{#dataType}}: {{{dataType}}}{{/dataType}}{{^required}} = {{#defaultValue}}{{{defaultValue}}}{{/defaultValue}}{{^defaultValue}}null{{/defaultValue}}{{/required}},
{{/allParams}}