

{{#model}}
    {{values}}
enum {{classname}} = {
{{#allowableValues}}
    {{#values}}
        {{{name}}} = {{{value}}} {{^-last}},
        {{/-last}}
    {{/values}}
{{/allowableValues}}
{{/model}}
