{{#operations}}class_name {{classname}}

var client: RushRequestClient

{{#operation}}
func {{operationIdSnakeCase}}(
{{>partials/api_method_params}}
) -> void:
    var oapi_path := "{{{contextPath}}}{{{path}}}"{{#pathParams}}.replace("{" + "{{baseName}}" + "}", {{{paramName}}}){{/pathParams}}

    {{#queryParams}}
        oapi_query["{{baseName}}"] = {{paramName}}
    {{/queryParams}}

    var oapi_response: RushRequestResponse = await self.client.{{httpMethod}}(oapi_path)

    if response.is_successful():
        # Returns a Dictionary converted from JSON, if the response Content-Type is set to "application/json"
        print("Request was successful!")
        print(response.get_parsed_body())
        on_success(JsonConverter.json_to_class(response.get_parsed_body(), {{returnType}}.new()))
    else:
        print("Request failed!")
        print(response.get_http_result_description())

{{/operation}}
{{/operations}}
